[Unit]
Description=FTTH Telegram Bot Service
After=network.target

[Service]
Type=simple
User=aaa
Group=www-data
WorkingDirectory=/home/aaa/fibra
EnvironmentFile=/home/aaa/fibra/.env
Environment=PATH=/home/aaa/fibra/venv/bin
ExecStart=/home/aaa/fibra/venv/bin/python -m app.bot
Restart=on-failure
RestartSec=5s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
